<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optimization Problems</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        .summary {
            background-color: #ecf0f1;
        }
    </style>
</head>

<body>
    <h1>Optimization Problems</h1>

    <label for="repo-select" style="font-size: 20px;">Repo:</label>
    <select id="repo-select" onchange="loadRepoData(this.value)">
        {% for repo in repos %}
        <option value="{{ repo }}" {% if repo==default_repo %} selected{% endif %}>{{ repo }}</option>
        {% endfor %}
    </select>

    <h3>Optimization Problems</h3>
    <div id="commits-container"></div>

    <script>
        function loadRepoData(repoName) {
            fetch(`/get_repo_data/${repoName}`)
                .then(response => response.json())
                .then(data => {
                    console.log('Data length:', data.length);
                    const probContainer = document.getElementById('commits-container');
                    probContainer.innerHTML = '';

                    data.forEach(prob => {
                        const probElement = document.createElement('div');
                        probElement.className = 'commit';
                        probElement.innerHTML = `
                            <h3>${prob.pid}</h3>
                            <div>
                                <span class="stat-item"><strong>API:&nbsp;</strong> ${prob.api} </span>
                                <span class="stat-item"><strong>Commit:&nbsp;</strong> ${prob.commit} </span>
                                <span class="stat-item"><strong>Test ID:&nbsp;</strong> ${prob.test_id} </span>
                                <span class="stat-item"><strong>Base Mean:&nbsp;</strong> ${prob.base_mean.toFixed(6)} (± ${prob.base_std.toFixed(6)})</span>
                                <span class="stat-item"><strong>Target Mean:&nbsp;</strong> ${prob.target_mean.toFixed(6)} (± ${prob.target_std.toFixed(6)})</span>
                                <span class="stat-item"><strong>Optimization Percentage:&nbsp;</strong> ${prob.opt_perc.toFixed(3)} </span>
                                <span class="stat-item"><strong>Speedup Factor:&nbsp;</strong> ${prob.speedup_factor.toFixed(3)} </span>
                            </div>
                            <h4 class="toggle-section" onclick="toggleSection(this)">Generated Test</h4>
                            <div class="message collapsible">
                                <pre>${prob.test}</pre>
                            </div>
                        `;
                        probContainer.appendChild(probElement);
                    });
                });
        }

        // Load the default repo data when the page loads
        document.addEventListener('DOMContentLoaded', function () {
            const defaultRepo = document.getElementById('repo-select').value;
            if (defaultRepo) {
                loadRepoData(defaultRepo);
            }
        });

        // Toggle sections
        function toggleSection(element) {
            element.classList.toggle('active');
            const collapsibleDiv = element.nextElementSibling;
            collapsibleDiv.classList.toggle('show');
        }
    </script>
</body>

</html>